html{
	font-family:verdana;
	font-size:12px;
}


#wrapper {
position:relative;
z-index:1;
height:600px;        /* Desired element height */
}

body{
	height: 100%;
	background-attachment: fixed;
	/*background-image: url(img/world.png);*/
    background-repeat: no-repeat;
    background-position: bottom right;
	overflow: hidden;
	width:100%;
}

#left-bar{
	position: fixed;
	left: 0;
	top: 0;
	/*height:768px;*/
	width:264px;
	background-color:#00AEEF;
	height:100%;
	margin: 0;
}

#content{
	margin-left: 264px;
	margin-top: 25px;
	/*height:100%;*/
}

.seccion{
	margin-bottom:15px;
}

#secciones{
	margin-left:20px;
	margin-top:20px;
	list-style:none;
}

.contenido{
	
}

#quien-cont{
	display:inline;
}

#quien{
	color:white;
}

#objetivos-cont{
	display:none;
}

#proteccion-cont{
	display:none;
}
.faq{
	font-weight:bold;
}
